.section {
  padding: 6rem 1rem 1rem;
  height: 100vh;
  background-color: #fff;
  scroll-snap-align: start;
  .card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card_crypto {
      width: 23%;
      margin: 1rem;
      height: 100px;
      border: 1px solid black;
    }
  }
}
